<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img class="round-corners" src="/Images/chore-icon.png" height="35" />&nbsp;&nbsp;ChoreTracker</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/modifychores">
                    <span class="oi oi-clipboard" aria-hidden="true"></span> Modify Chores
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/addchore">
                    <span class="oi oi-plus" aria-hidden="true"></span> Add Chore
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/chorestats">
                    <span class="oi oi-graph" aria-hidden="true"></span> Chore Stats
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="User">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="user">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> User Page
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="user/todayschores">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Today's Chores
                </NavLink>
            </div>
        </AuthorizeView>
        <hr />
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Identity/Account/Manage">
                        <span class="oi oi-person" aria-hidden="true"></span> Manage Account
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Identity/Account/LogOut">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Identity/Account/Register">
                        <span class="oi oi-person" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Identity/Account/Login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private bool expandSubNav;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
